.slider{
  padding: 81px 0;
  &__inner{
    position: relative;
    width: 750px;
    margin: 0 auto;
  }
  &__prev-arrow{
    position: absolute;
    bottom: 45%;
    transform: translateY(-50%);
    left: -66px;
    cursor: pointer;
    img {
      width: 31px;
      height: 50px;
    }
  }
  &__next-arrow{
    position: absolute;
    bottom: 45%;
    transform: translateY(-50%);
    right: -66px;
    cursor: pointer;
    img {
      width: 31px;
      height: 50px;
    }
  }
  &__width{
    width: 750px;
    height: 580px;
  }
}