.consultation{
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../../img/bg/bg2.png") center (center / cover) no-repeat;
  &__descr{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;  
  }
}