.feed-form{
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  input {
    height: 52px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
    &:nth-child(3){
      margin-bottom: 20px;
    }
  }
  &_mt25 {
    margin-top: 25px;
  }
}